# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/coverage
/documentation

# dependencies
/node_modules
.windows-build-tools/

/cypress/videos
/cypress/screenshots

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
/.gradle

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*~

# stryker temp files
.stryker-tmp
